.main{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.section{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    
  
}
.section:first-child{height:300vh}